body{
    background: radial-gradient( white, rgb(192, 187, 187));
    height: 600px;   
 }

 .liner-gradient{
     background: linear-gradient(to right, gray,lightgrey);
 }

 .mt-10{
     margin-top: 96px;
 }