<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="col-6 offset-3 mt-5">
        <div class="col-12 mt-5 text-center">
            <h3>ورود کاربر</h3>
        </div>
        <div class="col-12 mt-4 text-center">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-6 offset-3 mt-4">
            <form action="/api/login/loginUser" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control text-right bg-dark text-light" placeholder="نام کاربری" id="userName" name="userName" aria-describedby="emailHelp">
                  <small id="userNameHelp" class="form-text  text-right text-danger">*الزامی</small>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="رمزعبور" class="form-control text-right bg-dark text-light" id="password" name="password">
                  <small id="passwordHelp" class="form-text  text-right text-danger">*الزامی</small>
                </div>
                
                <button type="submit" class="btn btn-warning col-12 text-light">ورود</button>
            </form>

              <form action="/api/signup/"  method="GET">
                <button type="submit" class="btn btn-warning col-12 mt-2 text-light">ثبت نام</button>
              </form>

        </div>
    </div>
    <% if(message) { %>
      <div class="alert alert-danger text-center" role="alert">
         <%= message %>
      </div>
  <% } %>

    <%- include('../partials/scripts') %>
</body>
</html>